<form autocomplete="off" method="post" class="login__form db m0-a">
	<div class="login__form-group">
		<label for="email">E-mail</label>
		<input type="email" maxlength="50" name="email" id="email" class="login__form-group-input" autocomplete="off" required>
	</div>
	<div class="login__form-group">
		<label for="senha">Senha</label>
		<input type="password" maxlength="16" name="password" id="senha" class="login__form-group-input" autocomplete="off" required>
	</div>
	<div class="login__form-group">
		<button type="submit" name="submit" class="login__form-group-button">Entrar</button>
	</div>
</form>